<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>fi.viiksipojat.sublime-project-logger</string>
	<key>ProgramArguments</key>
	<array>
		<string>/PATH/TO/sublime-project-logger.sh</string>
	</array>
	<key>StartInterval</key>
	<integer>60</integer><!-- once a minute -->
</dict>
</plist>